<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517433367423-c7e5b0f35086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);">
  <div class="container">
    <div class="d-flex flex-column d-flex justify-content-between" style="text-align: center; height: 50vh;">
    <i class="far fa-credit-card" style="color: white; font-size: 40px; opacity: 0.6;"></i>
    <%= link_to  user_session_path do %>
    <span class="btn btn-class btn-outline-light home-btn rounded-pill" style="width: 150px;">Log in</span>
    <% end %>
    </div>
  </div>
</div>

