
<div class="container justify-content-center">
  <div class = "d-flex justify-content-center" style="align-items: center; height: 100vh;">
    <canvas id="canvas"></canvas>
    <script src="bundle.js"></script>
    <div id="qrResult" style="height: 500px, width: 500px;"></div>
  </div>
</div>
