<h1>test</h1>

<form onsubmit="generate();return false;" id="qrform">
  <input type="text" id="qr" name="">
</form>

 <canvas id="canvas"></canvas>
    <script src="bundle.js"></script>
<div id="qrResult" style="height: 300px, width: 300px;">

</div>

<!-- <script type="text/javascript">

</script> -->



<!--<input id="text" type="text" value="https://hogangnono.com" style="width:80%" /><br />
<div id="qrcode"></div>-->



