<h1>dashboard</h1>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <% @favorites.each do |favorite|%>
      <%= favorite.name %>
        <i class="far fa-heart favorites <%= current_user.favorited?(favorite) ? "liked" : "" %>" data-id="<%= favorite.id %>"></i>

    <% end %>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>

</div>
