.favorites {
  font-size: 20px;
  position: absolute;
  right: 8px;
  top: 8px;

}
.liked {
  color: red;
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  right: 8px;
  top: 8px;
}
.card-trip-dash {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip-dash > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip-dash h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-dash p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip-dash .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}



